# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diretório de dependências
node_modules/
jspm_packages/
web_modules/

# Cache do Expo
.expo/
.expo-shared/

# Build do EAS
eas-build-pre-upload.tar.gz

# Arquivos de build e distribuição
build/
dist/
web-build/
/android/app/build/
/android/.gradle/
/android/build/
/ios/build/

# Artefatos de build do Android
*.apk
*.aab
*.jar
*.keystore
keystores/
*.jks

# Arquivos de configuração de ambiente local
.env
.env.local
.env.*.local

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de editores de código e IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos do iOS
/ios/Pods/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/contents.xcworkspacedata

# Cache do Metro Bundler
.metro-cache

# Outros
coverage/